<%-include('./layouts/navbar')%>
    <h1>Players</h1>
      <ul>
        <% 
        for(let i=0;i<players.length;i++){
            const {name, role, score} = players[i]
            console.log(players[i])
          %>
          <li>Player-list</li>
          //<li><a href="/player/<%=_id%>"></a><%=name%>-Role: <%=role%>-Score: <%=score%></li>
          <li><%=name%>-Role: <%=role%>-Score: <%=score%></li>
          <%
        }
        %>
      </ul>
<%-include('./layouts/footer')%>